<!DOCTYPE html>
<html>
<head>
  <title>Visualization</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css">

  <link rel="stylesheet" href="css/d3.slider.css">

  <!--Let browser know website is mobile optimized-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

  <style type="text/css">

  body {
    overflow: hidden;
  }

  .navbar-item {
    color: #f8f8f8;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
    height: 50px;
    line-height: 50px;  /* vertical alignment */
    display: inline-block;
  }

  #title:hover {background: #ef5350}
  #title2:hover {background: #00bcd4}
  #title3:hover {background: #8bc34a}
  #title4:hover {background: #ffb300}

  .navbar-description {
    position: absolute; 
    bottom: 0px;
    height: 50px; 
    line-height: 50px;  /* vertical alignment */
    width: 100%; 
    z-index: 10; 
    visibility: hidden; 
    font-size: 0.9em; 
    color: #f8f8f8;
    text-align: center;
  }


  </style>
  


</head>

<body class="grey darken-1">

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.19/topojson.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.12/jquery.mousewheel.min.js"></script>

<script src="js/datamaps.none.min.js"></script>
<script src="js/d3.slider.js"></script>

<div id="front-description" class="white-text center-align grey darken-3" style="position: absolute; height: 50%; top: 0px; width: 100%; overflow: hidden"><h2>Financial Crisis</h2>
    <h4>in San Diego</h4>
    <p>or any kind of description</p></div>

<div id="navbar-wrapper" style="position: absolute; top: 50%; height: 100px; width: 100%">

  <div id="navbar" class="center-align grey darken-3" style="position: absolute; bottom: 50px; height: 50px; width: 100%">
    <div id="title" class="navbar-item">Sale Price</div>
    <div id="title2" class="navbar-item">Number of Sales</div>
    <div id="title3" class="navbar-item">Foreclosures</div>
    <div id="title4" class="navbar-item">Sold for Loss</div>
  </div>

  <div id="description1" class="navbar-description" style="background-color: rgba(239, 83, 80, 1);">
    Median sale price for all homes sold on Zillow in one month
  </div>
  <div id="description2" class="navbar-description" style="background-color: rgba(0, 188, 212, 1);">
    Number of homes sold on Zillow in one month
  </div>
  <div id="description3" class="navbar-description" style="background-color: rgba(139, 195, 74, 1);">
    Number of homes foreclosed in one month
  </div>
  <div id="description4" class="navbar-description" style="background-color: rgba(255, 179, 0, 1);">
    Percentage of homes sold on Zillow in one month for less than acquired
  </div>


</div>


<!-- <div class="description" style="visibility: visible; color: #bdbdbd">Select one above to start</div> -->


<div id="content" style="opacity: 0.3; background-image: url(images/content.png); background-size: contain; position: absolute; top: calc(50% + 50px); height: 80%; width: 100%;"></div>


<div id="footer" class="center-align grey darken-2 grey-text text-lighten-1" style="position: absolute; bottom: 0px; height: 50px; width: 100%; font-size: 0.9em; z-index: 2">
  <p>&copy; Johannes Rieke, Chris Blum, Sindre Magnussen, Petter Astrup, Nemanja Aksic</p>
</div>

<script type="text/javascript">

  function slideUp() {

    d3.select('#navbar-wrapper')
      .transition()
      .duration(1000)
      .style('top', '0px');

    d3.select('#front-description')
      .transition()
      .duration(1000)
      .style('top', '-50%');

    d3.select('#content')
      .transition()
      .duration(1000)
      .style('top', '50px');

    d3.select('#content')
      .style('background-image', 'url(images/content2.png)')
      .style('opacity', 1);
  }

  d3.select('#title')
    .on('mouseover', function() {
      d3.select('#description1')
        .style('visibility', 'visible');
      // d3.select('#title').style('background', '#ef5350');
      // d3.select('#title2').style('background', 'none');
      // d3.select('#title3').style('background', 'none');
      // d3.select('#title4').style('background', 'none');
    })
    .on('mouseout', function() {
      d3.select('#description1')
        .style('visibility', 'hidden');
    })
    .on('click', function() {
      slideUp();
      updateVisualizations('#f44336', '#ef5350');
    });

  d3.select('#title2')
    .on('mouseover', function() {
      d3.select('#description2')
        .style('visibility', 'visible');
    })
    .on('mouseout', function() {
      d3.select('#description2')
        .style('visibility', 'hidden');
    })
    .on('click', function() {
      slideUp();
      updateVisualizations('#00bcd4', '#00bcd4');
    });

  d3.select('#title3')
    .on('mouseover', function() {
      d3.select('#description3')
        .style('visibility', 'visible');
    })
    .on('mouseout', function() {
      d3.select('#description3')
        .style('visibility', 'hidden');
    })
    .on('click', function() {
      slideUp();
      updateVisualizations('#8bc34a', '#8bc34a');
    });

  d3.select('#title4')
    .on('mouseover', function() {
      d3.select('#description4')
        .style('visibility', 'visible');
    })
    .on('mouseout', function() {
      d3.select('#description4')
        .style('visibility', 'hidden');
    })
    .on('click', function() {
      slideUp();
      updateVisualizations('#ffb300', '#ffb300');
    });


</script>

</body>
</html>