<!DOCTYPE html>
<html>
<head>
  <title>Financial Crisis in San Diego</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css">

  <link rel="stylesheet" href="css/d3.slider.css">

  <link rel="stylesheet" href="css/custom.css">

  <!--Let browser know website is mobile optimized-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>



<body class="grey darken-1">

<div id="front-header">

  <div id="navbar-wrapper" class="grey darken-3" style="position: absolute; bottom: 50px; width: 100%; top: 0px">

    <div id="navbar-header" class="center-align" style="padding: 20px; color: #f8f8f8;">
      <h3>Some description</h3>
    </div>

    <!-- TODO: Change this to nav (currently, materialize alters the style of that) -->
    <div id="navbar" style="position: absolute; bottom: 0px; height: 50px; width: 100%; text-align: center">
      <div id="nav-title-1" class="nav-title">Sale Price</div><!--
      --><div id="nav-title-2" class="nav-title">Number of Sales</div><!--
      --><div id="nav-title-3" class="nav-title">Foreclosures</div><!--
      --><div id="nav-title-4" class="nav-title">Sold for Loss</div>
    </div>

  </div>

  <div id="description-1" class="description" style="background-color: rgba(239, 83, 80, 1);">
    Median sale price for all homes sold on Zillow in one month
  </div>
  <div id="description-2" class="description" style="background-color: rgba(0, 188, 212, 1);">
    Number of homes sold on Zillow in one month
  </div>
  <div id="description-3" class="description" style="background-color: rgba(139, 195, 74, 1);">
    Number of homes foreclosed in one month
  </div>
  <div id="description-4" class="description" style="background-color: rgba(255, 179, 0, 1);">
    Percentage of homes sold on Zillow in one month for less than acquired
  </div>

</div>



<div id="content">

  <div id="content-overlay" style="position: absolute; width: 100%; height: 100%; z-index: 1;"></div>

  <div style="position: absolute; width: 100%; height: 100%;">

    <div style="position: absolute; left: 25px; width: 29%; height: 100%">

      <div id="bar-chart-wrapper" style="position: absolute; top: 0px; height: calc(50% - 35px); width: 100%;">
        <div id="bar-chart"></div>
      </div>
      <div id="time-chart-wrapper" style="position: absolute; bottom: 0px; height: calc(50% - 35px); width: 100%;">
        <div id="time-chart"></div>
      </div>

    </div>

    <div id="time-slider-wrapper" style="display: flex; flex-direction: column; visibility: hidden; position: absolute; top: 20px; left: 37.5%; width: 25%; bottom: 20px; text-align: center;">

      <div style="color: #f8f8f8">
        Jan<br>
        <span id="year" style="font-size: 2em;">2005</span><br>
        <i id="time-play-pause" class="mdi-av-play-circle-fill" style="color: #f8f8f8; font-size: 2.7rem; cursor: pointer"></i>
      </div>

      <div style="flex: 1; margin-top: 20px; position: relative">
        <div style="position: absolute; height: 100%; left: 0px; width: calc(50% - 15px)">
          <p class="time-text" style="position: absolute; top: 0%; font-size: 0.75rem; color: #f8f8f8; text-align: right; line-height: 1.3"><span style="font-weight: bold;">Sep 08</span><br>Lehman Brothers files bankruptcy</p>
          <p class="time-text" style="position: absolute; top: 50%; font-size: 0.75rem; color: #9e9e9e; text-align: right; line-height: 1.3"><span style="font-weight: bold;">Sep 08</span><br>Lehman Brothers files bankruptcy</p>
        </div>
        <div id="time-slider" style="cursor: pointer; position: absolute; height: 100%; left: 50%">
          <div id="slider-progress" class="d3-slider d3-slider-vertical" style="position: absolute; top: 0px; left: 0px; height: 0%; width: 100%; background: #f8f8f8"></div>
    <!--       <div class="time_point" style="top: 30%"></div>
          <div class="time_point" style="top: 60%"></div>
     -->
        </div>
        <div style="position: absolute; height: 100%; right: 0px; width: calc(50% - 15px)">
          <p class="time-text" style="position: absolute; top: 25%; font-size: 0.75rem; color: #9e9e9e; text-align: left; line-height: 1.3"><span style="font-weight: bold;">Sep 08</span><br>Lehman Brothers files bankruptcy</p>
          <p class="time-text" style="position: absolute; top: 75%; font-size: 0.75rem; color: #9e9e9e; text-align: left; line-height: 1.3"><span style="font-weight: bold;">Sep 08</span><br>Lehman Brothers files bankruptcy</p>
        </div>
      </div>

    </div>


    <div id="map-wrapper" style="position: absolute; right: 25px; width: 29%; height: 100%">
      <div id="map" style="width: 100%; height: 100%"></div>
    </div>

  </div>

</div>

<div class="center-align grey darken-2 grey-text text-lighten-1" style="position: absolute; bottom: 0px; height: 50px; width: 100%; font-size: 0.9em">
  <p>&copy; Johannes Rieke, Chris Blum, Sindre Magnussen, Petter Astrup, Nemanja Aksic</p>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.19/topojson.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.12/jquery.mousewheel.min.js"></script>

<script src="js/datamaps.none.min.js"></script>
<script src="js/d3.slider.js"></script>

<script src="js/custom.js"></script>

</body>
</html>