/* TODO: Minify */

html, body {
  height: 100%;
}

body {
  overflow: hidden;
}


/* ------------------------------------------ Nav bar and front page ------------------------------------------------ */

/* TODO: Rename */
#front-header {
  position: absolute; 
  top: 0px; 
  width: 100%; 
  height: 400px
}

@media (max-height: 400px) {
  #front-header {
    height: 100%;
  }
}

.nav-title {
  color: #f8f8f8;
  padding-left: 25px;
  padding-right: 25px;
  cursor: pointer;
  height: 50px;
  line-height: 50px;  /* vertical alignment */
  display: inline-block;
}

/* TODO: Do not use ids here */
#nav-title-1:hover, #nav-title-1.active {background: #ef5350;} /*{border-bottom: 3px solid #ef5350; color: #ef5350;}*/
#nav-title-2:hover, #nav-title-2.active {background: #00bcd4;} /*{border-bottom: 3px solid #00bcd4; color: #00bcd4;}*/
#nav-title-3:hover, #nav-title-3.active {background: #8bc34a;} /*{border-bottom: 3px solid #8bc34a; color: #8bc34a;}*/
#nav-title-4:hover, #nav-title-4.active {background: #ffb300;} /*{border-bottom: 3px solid #ffb300; color: #ffb300;}*/


.description {
  position: absolute; 
  bottom: 0px; 
  height: 50px; 
  line-height: 50px;  /* vertical alignment */
  width: 100%; 
  z-index: 10; 
  font-size: 0.9em; 
  color: #f8f8f8;
  text-align: center;
  visibility: hidden;
}




/* ------------------------------------------ Content page ------------------------------------------------ */

#content {
  position: relative;
  top: 380px;
  height: calc(100% - 160px);
/*  margin: 0 auto;
  width: 900px;*/
  margin: 0 auto;
  width: calc(100% - 200px);
}

@media (max-width: 1000px) {
  #content {
    width: calc(100% - 20px);
  }
}



/* ------------------------------------------ All charts ------------------------------------------------ */
.c3-axis-y .domain {
  visibility: hidden
}
.c3-axis-y .tick {
  visibility: hidden
}
.c3-axis-y-label {
  fill: #f8f8f8;
}



/* ------------------------------------------ Time chart ------------------------------------------------ */

#time-chart .c3-line {
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-opacity: 0.8;
}

#time-chart .c3-axis-x {
  visibility: hidden !important;  /* only in the beginning */
}
#time-chart .c3-axis-x line {
  visibility: hidden
}
#time-chart .c3-axis-x .domain {
  visibility: hidden
}
#time-chart .c3-axis-x text {
  fill: #f8f8f8;
}

#time-chart .c3-ygrid {
  /*stroke-dasharray: 0;*/
  stroke-width: 1.5px;
}

#time-chart .c3-circle {
  r: 5;
  fill-opacity: 0;
}
#time-chart .c3-text {
  visibility: hidden;
  transform: translate(0, -3px);
}

/* only for initialization */
#time-chart .c3-circle-0 {
  fill-opacity: 1;
}
#time-chart .c3-text-0 {
  visibility: visible;
}



/*#time-chart .c3-legend-item {

}
#time-chart .c3-legend-item-average {
  transform: translate(100px,-50px);
  fill: #f8f8f8;
}*/






/* ------------------------------------------ Bar chart ------------------------------------------------ */


#bar-chart .c3-axis-x {
  visibility: hidden !important;  /* only in the beginning */
}
#bar-chart .c3-axis-x line {
  visibility: hidden
}
#bar-chart .c3-axis-x .domain {
  visibility: hidden
}
#bar-chart .c3-axis-x text {
  fill: #f8f8f8;
}

#bar-chart .c3-text {
  fill: #9e9e9e !important;
  transform: translate(0, -3px);
}
#bar-chart .c3-text.highlighted {
  fill: #f8f8f8 !important;
}

#bar-chart .c3-bar.not-highlighted {
  opacity: 0.5 !important;
}

#bar-chart .c3-event-rect {
  cursor: pointer;
}



/* ------------------------------------------ Map ------------------------------------------------ */

.datamaps-subunit {
  cursor: pointer;
}

.map-legend {
  font: 10px sans-serif;
}

.map-legend text {  
  fill: #f8f8f8;
}




/* ------------------------------------------ Time Slider ------------------------------------------------ */

.d3-slider {
  background: #9e9e9e;
  border-style: none;    
  border-radius: 0.125em;
}

.d3-slider-vertical {
  width: 0.25em;
}

.d3-slider-handle {
  border-radius: 1em;
  background: #f8f8f8;
  border-style: none;
}

.d3-slider-handle:hover {
  /*border: 10px solid #bdbdbd;*/
  border-style: none;
}

.d3-slider-vertical .d3-slider-handle {
  width: 1.1em;
  height: 1.1em;
  left: -0.45em; 
}

/*.d3-slider-axis-right {
  cursor: auto;
  left: -3px;
}

.d3-slider-axis-right line {
  stroke-width: 2;
  stroke: #9e9e9e;
}

.d3-slider-axis-right text {
  visibility: hidden;
}*/

.time-text {
  position: absolute; 
  font-size: 0.75rem; 
  color: #9e9e9e; 
  line-height: 1.3;
  margin: 0;
  cursor: pointer;
}

.time-text-left {  
  text-align: right; 
  right: 0;
}

.time-text-right {
  text-align: left;
  left: 0;
}

.time-point {
  background: #9e9e9e;
  position: absolute;
  width: 0.5em;
  height: 0.5em;
  top: -0.2em;
  left: -0.13em;
  border-radius: 0.25em;
}




/* ------------------------------------------ Loading spinner ------------------------------------------------ */

#loading-spinner-wrapper {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

/* TODO: Get the dataset colors in here */
#loading-spinner.mediansaleprice {
  border-color: #ef5350;
}
#loading-spinner.soldforloss {
  border-color: #00bcd4;
}
#loading-spinner.decreasinginvalues {
  border-color: #8bc34a;
}
#loading-spinner.soldasforeclosures {
  border-color: #ffb300;
}
