/* TODO: Minify */

html, body {
  height: 100%;
}

body {
  overflow: hidden;
}

a {
  color: #9e9e9e;
}
a:hover {
  color: #03a9f4;
}

input[type=text], input[type=text]:focus, input[type=text]:focus:not([readonly]) {
  border-color: #f5f5f5; 
  box-shadow: none;
}




/* ------------------------------------------ Helpers ------------------------------------------------ */

.cover {
  position: absolute !important;
  width: 100%;
  height: 100%;
}

.flex-container {
  display: flex;
  position: relative;
}
.flex-row {
  width: 100%;
  flex: 1;
}

.flex-container-vertical {
  display: flex;
  position: relative;
  flex-direction: column;
}
.flex-column {
  height: 100%;
  flex: 1;
}

.to-fade-in {
  visibility: hidden;
  opacity: 0;
}




/* ------------------------------------------ Header and footer ------------------------------------------------ */

nav {
  line-height: 50px; 
  position: absolute; 
  top: calc(100% - 100px); 
  height: 50px; 
  width: 100%; 
  text-align: center; 
  opacity: 0; 
  visibility: hidden
}

nav ul li {
  padding: 0 25px;
  height: 50px;
  line-height: 50px;  /* vertical alignment */
  display: inline-block;

  float: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
}

@media (max-width: 620px) {
  nav ul li {
    padding: 0 10px;
  }
}

@media (max-width: 870px) {
  #metro-name-wrapper {
    display: none;
  }
}

/* TODO: Do not use ids here */
#nav-title-1:hover, #nav-title-1.active {background: #ef5350;} /*{border-bottom: 3px solid #ef5350; color: #ef5350;}*/
#nav-title-2:hover, #nav-title-2.active {background: #00bcd4;} /*{border-bottom: 3px solid #00bcd4; color: #00bcd4;}*/
#nav-title-3:hover, #nav-title-3.active {background: #8bc34a;} /*{border-bottom: 3px solid #8bc34a; color: #8bc34a;}*/
#nav-title-4:hover, #nav-title-4.active {background: #ffb300;} /*{border-bottom: 3px solid #ffb300; color: #ffb300;}*/

#descriptions {
  position: absolute; 
  width: 100%;
  height: 50px; 
  top: 50px;
  /*display: none;*/
  visibility: hidden;
  z-index: 10; 
}

.description {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  line-height: 50px;  /* vertical alignment */
  width: 100%; 
  font-size: 0.9em; 
  color: #f8f8f8;
  text-align: center;
  visibility: hidden;
}

#footer {
  z-index: 2; 
  position: absolute; 
  bottom: 0px; 
  height: 50px; 
  width: 100%; 
  font-size: 0.9em; 
  line-height: 50px;
}

@media (max-height: 500px), (max-width: 600px) {
  #footer {
    display: none;
    /*background-color: #757575 !important;*/
  }

  #content-pane {
    padding-bottom: 0px !important;
  }
}




/* ------------------------------------------ Front page ------------------------------------------------ */

.arrow {
  position: relative;
  background: #bdbdbd;
}
.arrow:after {
  bottom: 100%;
  left: 50%;
  content: " ";
  position: absolute;
  pointer-events: none;
  margin-left: -5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 10px 5px;
  border-color: transparent transparent #bdbdbd transparent;
}





/* ------------------------------------------ Layout containers ------------------------------------------------ */

#content-pane {
  position: absolute;
  top: calc(100% - 50px);
  width: 100%;
  height: calc(100% - 50px);
  padding-bottom: 50px;
  visibility: hidden;
}

#content {
  position: relative;
  height: 100%;
  padding-top: 45px;
  padding-bottom: 35px;
/*  margin: 0 auto;
  width: 900px;*/
  margin: 0 auto;
  width: calc(100% - 280px);
}

@media (max-width: 1000px) {
  #content {
    width: calc(100% - 30px);
    padding-top: 15px;
    padding-bottom: 5px;
  }
}

#middle-console {
  flex: 0 0 230px; 
  margin: 0 60px;
}

.adjust-line-height {
  line-height: 200%;
}

@media (max-width: 750px) {
  #middle-console {
    flex: 0 0 50px; 
    margin: 0 10px;
  }

  .time-texts {
    display: none;
  }

  .adjust-line-height {
    line-height: 140%;
  }
}

#time-slider-wrapper {
  padding-top: 15px; 
  padding-bottom: 15px;
}

#map-wrapper {
  position: relative; width: calc(100% + 100px); height: 100%; top: 0px; left: -50px;
}

@media (max-width: 750px) {
  #map-wrapper {
    width: 100%;
    left: 0px;
  }
}

#charts-wrapper {
  /*border-right: 40px solid transparent;*/
  /*border-left: 50px solid transparent;*/
  /*background-clip: padding-box;*/
  /*margin-left: 100px;*/
  /*padding-left: 100px;*/
}




/* ------------------------------------------ All visualizations ------------------------------------------------ */
.c3-axis-y .domain {
  visibility: hidden
}
.c3-axis-y .tick {
  visibility: hidden
}
.c3-axis-y-label {
  fill: #f8f8f8;
}

.hoverinfo {
  border: none !important;
  border-radius: 2px !important;
  box-shadow: 0 0 9px #666 !important;
  background-color: #f8f8f8 !important;
  font-family: Roboto, sans-serif;
  text-align: center;
}




/* ------------------------------------------ Time chart ------------------------------------------------ */

#time-chart .c3-line {
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-opacity: 0.8;
}

#time-chart .c3-axis-x {
  visibility: hidden !important;
}
#time-chart .c3-axis-x line {
  visibility: hidden
}
#time-chart .c3-axis-x .domain {
  visibility: hidden
}
#time-chart .c3-axis-x text {
  fill: #f8f8f8;
}

#time-chart .c3-ygrid {
  stroke-width: 1.5px;
}

#time-chart .c3-circle {
  r: 5;
  fill-opacity: 0;
}
#time-chart .c3-text {
  visibility: hidden;
  transform: translate(0, -3px);
}

#time-chart .c3-circle-0 {
  fill-opacity: 1;
}
#time-chart .c3-text-0 {
  visibility: visible;
}

#time-chart-legend {
  z-index: 1; 
  visibility: hidden; 
  position: absolute; 
  top: -2.5px; 
  width: 90%; 
  left: 10%; 
  text-align: center; 
  font-size: 0.7rem;
}
#time-chart-legend ul {
  margin: 0;
}
#time-chart-legend ul li {
  display: inline-block;
  padding: 0 7px; 
  background-color: #757575;
}





/* ------------------------------------------ Bar chart ------------------------------------------------ */

#bar-chart .c3-axis-x {
  visibility: hidden !important;
}
#bar-chart .c3-axis-x line {
  visibility: hidden
}
#bar-chart .c3-axis-x .domain {
  visibility: hidden
}
#bar-chart .c3-axis-x text {
  fill: #f8f8f8;
}

#bar-chart .c3-text {
  fill: #9e9e9e !important;
  transform: translate(0, -3px);
}
#bar-chart .c3-text.highlighted {
  fill: #f8f8f8 !important;
}

#bar-chart .c3-bar.not-highlighted {
  opacity: 0.5 !important;
}

#bar-chart .c3-event-rect {
  cursor: pointer;
}

.bar-chart-hoverover {
  z-index: 10001; 
  position: absolute; 
  display: none;
}




/* ------------------------------------------ Map ------------------------------------------------ */
#map {
  overflow: hidden;
}
.datamap {
  overflow: visible !important;
}
.datamaps-subunit {
  cursor: pointer;
}

.map-legend {
  font: 10px sans-serif;
  visibility: hidden;
}
.map-legend text {  
  fill: #f8f8f8;
}





/* ------------------------------------------ Time line ------------------------------------------------ */

#time-slider {
  position: absolute; 
  height: 100%; 
  cursor: pointer; 
  left: calc(50% - 0.125em);
}

.d3-slider {
  background: #9e9e9e;
  border-style: none;    
  border-radius: 0.125em;
}
.d3-slider-vertical {
  width: 0.25em;
}

.d3-slider-handle {
  border-radius: 1em;
  background: #f8f8f8;
  border-style: none;
}
.d3-slider-handle:hover {
  /*border: 10px solid #bdbdbd;*/
  border-style: none;
}
.d3-slider-vertical .d3-slider-handle {
  width: 1.1em;
  height: 1.1em;
  left: -0.45em; 
}

.d3-slider-progress {
  position: absolute; 
  top: 0px; 
  bottom: 100%; 
  height: auto; 
  width: 100%;
}

.time-point {
  background: #9e9e9e;
  position: absolute;
  width: 0.5em;
  height: 0.5em;
  top: -0.2em;
  left: -0.13em;
  border-radius: 0.25em;
}

.time-texts {
  height: 100%;
  width: 100px;
  position: absolute;
}
.time-texts-left {
  left: 0px;
}
.time-texts-right {
  right: 0px;
}

.time-texts p {
  position: absolute; 
  font-size: 0.7rem; 
  color: #9e9e9e; 
  line-height: 1.2;
  margin: 0;
  cursor: pointer;  
}
.time-texts-left p {
  text-align: right;
}
.time-texts-right p {
  text-align: left;
}

@media (max-height: 800px) {
  .hide-on-little {
    display: none;
  }
}
@media (max-height: 580px) {
  .hide-on-very-little {
    display: none;
  }
}






/* ------------------------------------------ Loading spinner ------------------------------------------------ */

#loading-spinner-wrapper {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  display: none; 
}

#loading-spinner.mediansaleprice {
  border-color: #ef5350;
}
#loading-spinner.soldforloss {
  border-color: #00bcd4;
}
#loading-spinner.decreasinginvalues {
  border-color: #8bc34a;
}
#loading-spinner.soldasforeclosures {
  border-color: #ffb300;
}





/* ------------------------------------------ Autocomplete ------------------------------------------------ */

.autocomplete-suggestion, .autocomplete-no-suggestion { 
  text-align: center; 
  font-size: 1.2rem; 
  cursor: pointer; 
  padding-top: 5px; 
  padding-bottom: 5px; 
  white-space: nowrap; 
  overflow: hidden; 
  color: #bdbdbd;
}
.autocomplete-no-suggestion { 
  color: #ef5350;
}
.autocomplete-suggestion strong { 
  font-weight: bold; 
  color: #f8f8f8; 
}
.autocomplete-selected { 
  color: #8bc34a; 
}
.autocomplete-selected strong { 
  color: #dcedc8; 
}

